# **WEB SCRAPING ASSIGNMENT 2 - Selenium**
Submitted by Darshik A S
___

In [11]:
### Import required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

In [124]:
### Load chrome webdriver
driver = webdriver.Chrome('chromedriver.exe')

## 1) To scrape data for “Data Analyst” Job position in “Bangalore” location

In [15]:
def scrape_top_10_naukri_jobs(job=None,loc=None):
    
    ### Get naukri webpage
    driver.get('https://www.naukri.com/')
    
    ### Find elements in the search field
    search_job = driver.find_element_by_id('qsb-keyword-sugg')
    search_location = driver.find_element_by_id('qsb-location-sugg')
    search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button[@class='btn']")
    
    ### Enter the required desgination/location and click search 
    if job != None:
        search_job.send_keys(job)
    if loc != None:
        search_location.send_keys(loc)
    search_button.click()
    
    time.sleep(5)
    
    ### Find tags having the job details
    titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
    experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
    
    ### scrape the data for the first 10 jobs results
    title = []
    company = []
    location = []
    experience = []
    for i in range(10):
        title.append(titles_tags[i].text)
        location.append(location_tags[i].text)
        company.append(company_tags[i].text)
        experience.append(experience_tags[i].text)
        
    ### create dictionary of the data 
    data_dict = dict(job_title=title,
                  location=location,
                  company_name=company,
                  experience=experience)
        
    return data_dict

In [16]:
data = scrape_top_10_naukri_jobs('Data Analyst','Bangalore')

In [17]:
pd.DataFrame(data)

,job_title,location,company_name,experience
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Bengaluru,Flipkart Internet Private Limited,1-4 Yrs
1,Data Analyst - SAP,"Pune, Delhi, Bengaluru, Gurgaon",Boston Scientific Corporation,3-5 Yrs
2,Hiring Data Analysts on Contract,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
3,Senior Data Analyst,Bengaluru / Bangalore,Schneider Electric,2-5 Yrs
4,Data Analyst,Bengaluru,Shell India Markets Private Limited,5-8 Yrs
5,Security Data Analyst,Bengaluru,Philips India Limited,2-4 Yrs
6,"Data Analyst -Azure Data lake, Azure Data factory","Chennai, Pune, Bengaluru, Hyderabad",Mindtree Limited,5-9 Yrs
7,Business / Data Analyst,Bengaluru,IBM India Pvt. Limited,2-4 Yrs
8,Data Analyst - O2C - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,2-4 Yrs
9,Intern Data Analyst,Bengaluru,Outsource Big Data,0-1 Yrs

## 2) To scrape data for “Data Scientist” Job position in “Bangalore” location

In [21]:
def scrape_top_10_naukri_job_description(job=None,loc=None):
    
    ### Get naukri webpage
    driver.get('https://www.naukri.com/')
    
    ### Find elements in the search field
    search_job = driver.find_element_by_id('qsb-keyword-sugg')
    search_location = driver.find_element_by_id('qsb-location-sugg')
    search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button[@class='btn']")
    
    ### Enter the required desgination/location and click search 
    if job != None:
        search_job.send_keys(job)
    if loc != None:
        search_location.send_keys(loc)
    search_button.click()
    
    time.sleep(5)
    
    ### Find tags containing the job details
    titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
    
    ### scrape the data for the first 10 jobs results
    title = []
    company = []
    location = []
    jd_link = []
    jd_desc = []
    for i in range(10):
        title.append(titles_tags[i].text)
        location.append(location_tags[i].text)
        company.append(company_tags[i].text)
        ### Get the link of the job description
        jd_link.append(titles_tags[i].get_attribute("href"))
        
    ### Scrape job descriptions
    for i in jd_link:
        driver.get(str(i))
        try:
            jd_desc.append(driver.find_element_by_xpath("//section[@class='job-desc']").text)
        except NoSuchElementException:
            jd_desc.append('None')
            
    ### create dictionary of the data 
    data_dict = dict(job_title=title,
                  location=location,
                  company_name=company,
                  job_description=jd_desc)
    
    return data_dict

In [19]:
data = scrape_top_10_naukri_job_description('Data Scientist','Bangalore')

In [20]:
pd.DataFrame(data)

,job_title,location,company_name,job_description
0,Data Scientist - Python/ MATLAB/ Machine Learn...,Bengaluru,Wrackle Technologies Pvt Ltd,Job description\nData Scientist - Data Mining/...
1,Lead Data Scientist - Machine Learning/ Data M...,Bengaluru,Wrackle Technologies Pvt Ltd,Job description\nRoles and Responsibilities\nR...
2,Data Scientist - Machine Learning (Commerce BU),Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,None
3,Data Scientist,"Chennai, Pune, Mumbai, Bengaluru",Atos Syntel Private Limited,Job description\nWorking experience in Artific...
4,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.,None
5,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.,None
6,Senior Data Scientist - NLP/ Python/ R,"Bengaluru, Hyderabad",AVI Consulting LLP,Job description\nRoles and Responsibilities\nS...
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",CES Ltd.,Job description\nRoles and Responsibilities\n\...
8,Data Scientist and Senior Data Scientist Acade...,Bengaluru,RANDSTAD INDIA PVT LTD,Job description\n\nWe are hiring Data Scientis...
9,Sr. Analyst-Data Scientist,Bengaluru,Mindtree Limited,Job description\nRole Description:\nA Sr. Data...

## 3) To scrape data for "Data Scientist" jobs using the filters available on the webpage

In [28]:
def scrape_top_10_naukri_jobs_using_filters(job=None,filters=None):
    
    ### Get naukri webpage
    driver.get('https://www.naukri.com/')
    
    ### Find elements in the search field
    search_job = driver.find_element_by_id('qsb-keyword-sugg')
    search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button[@class='btn']")
    
    ### Enter the required desgination/location and click search 
    if job != None:
        search_job.send_keys(job)
    search_button.click()
    
    time.sleep(5)
    ### Apply location and price range filters
    driver.find_element_by_xpath("//span[@title='{}' and contains(text(),'{}')]".format(filters['loc'],filters['loc'])).click()
    time.sleep(5)
    driver.find_element_by_xpath("//span[@title='{}' and contains(text(),'{}')]".format(filters['price'],filters['price'])).click()
    time.sleep(5)
    
    ### Find tags containing the job details
    titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
    experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
    
    ### scrape the data for the first 10 jobs results
    title = []
    company = []
    location = []
    experience = []
    for i in range(10):
        title.append(titles_tags[i].text)
        location.append(location_tags[i].text)
        company.append(company_tags[i].text)
        experience.append(experience_tags[i].text)
        
    ### create dictionary of the data 
    data_dict = dict(job_title=title,
                  location=location,
                  company_name=company,
                  experience=experience)
        
    return data_dict

In [25]:
data = scrape_top_10_naukri_jobs_using_filters('Data Scientist',{'loc':'Delhi/NCR','price':'3-6 Lakhs'})

In [27]:
pd.DataFrame(data)

,job_title,location,company_name,experience
0,Data Scientist,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",Country Veggie,1-3 Yrs
1,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,4-8 Yrs
2,Senior Data Scientist - NLP,Delhi NCR,IRIS SOFTWARE Inc,4-9 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,"Delhi NCR, Noida, Gurgaon",GABA Consultancy services,0-0 Yrs
4,Data Scientist,Gurgaon Gurugram,Ciena,5-6 Yrs
5,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
6,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
7,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
8,Tech Mahindra hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
9,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs

## 4) To scrape data for first 10 job results for Data scientist Designation in Noida location

In [31]:
def scrape_top_10_glassdoor_jobs(job=None,loc=None):
    
    ### Get glassdoor webpage
    driver.get('https://www.glassdoor.co.in/index.htm')
    driver.find_element_by_xpath("//span/a[contains(text(),'Jobs')]").click()
    
    ### Find elements in the search field
    job_field = driver.find_element_by_id('sc.keyword')
    loc_field = driver.find_element_by_id('sc.location')
    search_button = driver.find_element_by_id('HeroSearchButton')
    
    ### Enter field values
    if job != None:
        job_field.send_keys(job)
    if loc != None:
        loc_field.send_keys(loc)
    search_button.click()
    
    time.sleep(5)
    
    ### Find tags containing the job details
    company_tags = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a/span")
    job_age_tags = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
    rating_tags = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
    
    ### scrape the data for the first 10 jobs results
    company = []
    job_age = []
    rating = []
    for i in range(10):
        company.append(company_tags[i].text)
        job_age.append(job_age_tags[i].text)
        rating.append(rating_tags[i].text)
        
    ### create dictionary of the data 
    data_dict = dict(company_name=company,
                  no_of_days_ago=job_age,
                  rating=rating)
    
    return data_dict

In [32]:
data = scrape_top_10_glassdoor_jobs('Data Scientist','Noida')

In [33]:
pd.DataFrame(data)

                             company_name no_of_days_ago rating
0                               BlackRock             3d    4.1
1                               BlackRock             9d    4.1
2                         abc consultants             3d    4.1
3                                   Adobe             5d    4.4
4                          Biz2Credit Inc            11d    3.7
5                                Brickred            22d    3.9
6  Terra Economics & Analytics Lab (TEAL)             4d    4.9
7                    Gauge Data Solutions             3d    3.1
8                         Healtheoz India             3d    4.8
9                         Priority Vendor             3d    3.7

## 5) To scrape the salary data for Data Scientist designation in Noida location

In [52]:
def scrape_top_10_glassdoor_salaries(job=None,loc=None):
    
    ### Get glassdoor webpage
    driver.get('https://www.glassdoor.co.in/Salaries/index.htm')
    
    ### Find elements in the search field
    job_field = driver.find_element_by_id('KeywordSearch')
    loc_field = driver.find_element_by_id('LocationSearch')
    search_button = driver.find_element_by_id('HeroSearchButton')
    
    ### Enter field values
    if job != None:
        job_field.clear()
        job_field.send_keys(job)
    if loc != None:
        loc_field.clear()
        loc_field.send_keys(loc)
    search_button.click()
    
    time.sleep(5)
    
    ### Find tags containing the salaries details
    job_info_tags = driver.find_elements_by_xpath("//div[@data-test='job-info']")
    avg_salary_tags = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
    min_max_salary_tags = driver.find_elements_by_xpath("//div[contains(@class,'common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container')]")
    
    time.sleep(5)
    
    ### scrape the data for the first 10 salary results
    company = []
    salaries = []
    avg_salary = []
    min_salary = []
    max_salary = []
    for i in range(10):
        info = job_info_tags[i].text.split('\n')
        company.append(info[1])
        salaries.append(info[2])
        avg_salary.append(avg_salary_tags[i].text)
        minmax_salary = min_max_salary_tags[i].text.split('\n')
        min_salary.append(minmax_salary[0])
        max_salary.append(minmax_salary[1])
    
    ### create dictionary of the data 
    data_dict = dict(company_name=company,
                       no_of_salaries=salaries,
                       avg_salary=avg_salary,
                       min_salary=min_salary,
                       max_salary=max_salary)
    
    return data_dict

In [53]:
data = scrape_top_10_glassdoor_salaries('Data Scientist','Noida')

In [54]:
pd.DataFrame(data)

,company_name,no_of_salaries,avg_salary,min_salary,max_salary
0,Delhivery,13 salaries,"₹ 12,64,182",₹450K,"₹11,630K"
1,Ericsson-Worldwide,12 salaries,"₹ 7,30,968",₹350K,"₹1,614K"
2,Tata Consultancy Services,10 salaries,"₹ 5,99,668",₹336K,"₹1,010K"
3,Accenture,10 salaries,"₹ 9,94,055",₹577K,"₹2,215K"
4,IBM,10 salaries,"₹ 7,39,040",₹587K,"₹2,732K"
5,UnitedHealth Group,9 salaries,"₹ 13,37,114",₹717K,"₹1,575K"
6,Valiance Solutions,8 salaries,"₹ 7,80,374",₹502K,"₹1,152K"
7,Innovaccer,7 salaries,"₹ 11,98,792",₹621K,"₹1,696K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,08,143",₹793K,"₹1,264K"
9,EXL Service,6 salaries,"₹ 11,34,989",₹576K,"₹1,500K"

## 6) To scrape data of first 100 sunglasses listings on flipkart.com

In [73]:
def top_100_items_on_flipkart(item=None):
    
    ### Go to Flipkart webpage
    driver.get('https://www.flipkart.com/')
    
    ### Close login popup
    try:
        driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
    except NoSuchElementException:
        pass
    
    ### Find elements in the search field
    item_field = driver.find_element_by_class_name('_3704LK')
    search_button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    
    ### Enter field values
    if item != None:
        item_field.send_keys(item)
    search_button.click()
    
    time.sleep(5)
    
    ### scrape top 100 product data
    brand = []
    product_desc = []
    price = []
    discount = []
    count = 0
    limit = 100
    while count < limit:
        ### Find tags containing the salaries details
        product_tags = driver.find_elements_by_xpath("//div[@class='_2B099V']")
        for i in product_tags:
            if count == limit:
                break
            brand.append(i.find_element_by_class_name('_2WkVRV').text)
            product_desc.append(i.find_element_by_xpath("a[contains(@class,'IRpwTa')]").text)
            price.append(i.find_element_by_class_name('_30jeq3').text)
            try:
                discount.append(i.find_element_by_class_name('_3Ay6Sb').text)
            except NoSuchElementException:
                discount.append('None')
            count = count + 1
        if count < limit:
            ### Goto next page
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[contains(text(),'Next')]").click()
                
        time.sleep(5)
    
    ### create dictionary of the data 
    data_dict = dict(brand=brand,
                       product_desc=product_desc,
                       price=price,
                       discount=discount)
    
    return data_dict

In [63]:
data = top_10_items_on_flipkart('Sunglasses')

In [64]:
pd.DataFrame(data)

,brand,product_desc,price,discount
0,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (54)",₹197,83% off
1,kingsunglasses,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa...",₹284,81% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
4,Fastrack,UV Protection Wayfarer Sunglasses (56),₹599,33% off
...,...,...,...,...
95,Deixels,UV Protection Rectangular Sunglasses (Free Size),₹189,87% off
96,Gansta,UV Protection Aviator Sunglasses (57),₹374,81% off
97,Royal Son,Mirrored Aviator Sunglasses (Free Size),₹399,73% off
98,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹314,80% off
99,Aislin,"Polarized, UV Protection Aviator Sunglasses (62)",₹448,79% off

## 7) To scrape 100 reviews data from flipkart.com for iphone11 phone

In [65]:
def scrape_reviews_from_flipkart():
    
    ### Go to Flipkart review page
    driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')
    driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()
    
    time.sleep(5)
    
    ### scrape top 100 reviews
    rating = []
    review_summary = []
    full_review = []
    count = 0
    limit = 100
    while count < limit:
        ### Find tags containing the reviews
        review_tags = driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div[@class='_27M-vq']")
        for i in review_tags:
            if count == limit:
                break
            rating.append(i.find_element_by_class_name('_3LWZlK').text)
            review_summary.append(i.find_element_by_class_name('_2-N8zT').text)
            full_review.append(i.find_element_by_class_name('t-ZTKy').text)
            count = count + 1
        if count < limit:
             ### Goto next page
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[contains(text(),'Next')]").click()
            
        time.sleep(2)
    
    ### create dictionary of the data
    data_dict = dict(rating=rating,
                       review_summary=review_summary,
                       full_review=full_review)
    
    return data_dict

In [66]:
data = scrape_reviews_from_flipkart()

In [67]:
pd.DataFrame(data)

,rating,review_summary,full_review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
...,...,...,...
95,5,Super!,"Everything good as expected from Apple, but on..."
96,5,Super!,The only issue is the unavailability of fast c...
97,4,Good choice,Great product as usual. Handy phone with best ...
98,5,Terrific purchase,It’s being awesome to buy an apple product sim...
99,5,Simply awesome,excellent mobile phone with amazing feautures....

## 8) To scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [88]:
### Using the same function from the above problem i.e top_100_items_on_flipkart
data = top_100_items_on_flipkart('sneakers')

In [89]:
pd.DataFrame(data)

,brand,product_desc,price,discount
0,Edoeviv,Sneakers For Men,₹499,37% off
1,ELISEO,Hype-21 Sneakers For Men,₹556,44% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹449,77% off
3,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹474,76% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
...,...,...,...,...
95,Chevit,Chevit Trendy Fashion Sports Combo Pack of 3 P...,₹597,66% off
96,World Wear Footwear,Men-9097 Latest Collection of Stylish Casual C...,₹299,70% off
97,Absolute comfort,EVAW2 Sneakers For Men,₹199,60% off
98,MOU,Zar Check Sneakers Sneakers For Men,₹523,47% off
99,DOC Martin,Sneakers For Men,₹999,68% off

## 9) To scrape first 100 shoes data from Myntra

##### **Note : The price range Rs. 6649 to Rs. 13099 was not found in the filter chekboxes, so to set an example I've used another one among the available price range filters i.e Rs. 5357 to Rs. 10505**

In [139]:
def scrape_myntra_shoes_products():
    
    ### Goto myntra shoes page
    driver.get('https://www.myntra.com/shoes')
    
    ### Apply filters
    driver.find_element_by_xpath("//span[@data-colorhex='black' and @class='colour-label colour-colorDisplay']").click()
    time.sleep(5)
    driver.find_element_by_xpath("//input[@class='price-input' and @value='5357.0 TO 10505.0']/following-sibling::div").click()
    time.sleep(5)
    
    ### scrape top 100 product data
    brand = []
    product_desc = []
    price = []
    count = 0
    limit = 100
    while count < limit:
        ### Find tags containing the reviews
        product_tags = driver.find_elements_by_class_name('product-base')
        for i in product_tags:
            if count == limit:
                break
            brand.append(i.find_element_by_class_name('product-brand').text)
            product_desc.append(i.find_element_by_class_name('product-product').text)
            try:
                price.append(i.find_element_by_class_name('product-discountedPrice').text)
            except NoSuchElementException:
                price.append(i.find_element_by_class_name('product-price').text)
            count = count + 1
        if count < limit:
            ### Goto next page
            driver.find_element_by_class_name('pagination-next').click()

        time.sleep(5)
    
    ### create dictionary of the data
    data_dict = dict(brand=brand,
                       product_desc=product_desc,
                       price=price)
    
    return data_dict

In [140]:
data = scrape_myntra_shoes_products()

In [141]:
pd.DataFrame(data)

                   brand                             product_desc     price
0       ADIDAS Originals                Men A.R. TRAINER Sneakers  Rs. 5359
1              Cole Haan               Men Formal Leather Brogues  Rs. 9999
2                   Puma           Men HYBRID NETFIT Running Shoe  Rs. 6599
3           Kenneth Cole         Men Solid Leather Formal Oxfords  Rs. 9513
4              Cole Haan              Women Woven Design Sneakers  Rs. 7499
..                   ...                                      ...       ...
95          Kenneth Cole          Men Solid Leather Formal Derbys  Rs. 6293
96          Kenneth Cole         Men Solid Leather Formal Loafers  Rs. 6153
97          Kenneth Cole  Men Solid Formal Genuine Leather Derbys  Rs. 6153
98                Reebok            Women Flexagon Training Shoes  Rs. 7999
99  Heel & Buckle London                      Women Leather Pumps  Rs. 7192

[100 rows x 3 columns]

## 10) To scrape amazon product data

In [143]:
def scrape_amazon_product_data(limit=10):
    
    ### Goto amazon webpage
    driver.get('https://www.amazon.in/')
    
    ### Find elements in the search field
    item_field = driver.find_element_by_id('twotabsearchtextbox')
    search_button = driver.find_element_by_id('nav-search-submit-button')
    
    ### Enter field values
    item_field.send_keys('Laptop')
    search_button.click()
    
    time.sleep(5)
    
    ### Apply filters
    driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']//label").click()
    driver.find_element_by_xpath("//li[@aria-label='Intel Core i9']//label").click()
    
    time.sleep(5)
    
    ### scrape top 10 product data
    product = []
    rating = []
    price = []
    count = 0
    while count < limit:
        ### Find tags containing the reviews
        product_tags = driver.find_elements_by_xpath(
            """//div[@class='s-result-item s-asin sg-col-0-of-12 sg-col-16-of-20 sg-col sg-col-12-of-16' 
            or @class='s-result-item s-asin sg-col-0-of-12 sg-col-16-of-20 AdHolder sg-col sg-col-12-of-16']""")
        for i in range(len(product_tags)):
            if count == limit:
                break
            product.append(product_tags[i].find_element_by_class_name('a-text-normal').text)
            try:
                price.append(product_tags[i].find_element_by_class_name('a-price-whole').text)
            except NoSuchElementException:
                price.append('None')
            try:
                rating.append(str(product_tags[i].find_element_by_class_name('a-icon-alt').get_attribute('innerHTML')))
            except NoSuchElementException:
                rating.append('None')
            count = count + 1
        if count < limit:
            ### Goto next page
            driver.find_element_by_xpath("//li[@class='a-last']/a").click()
            
        time.sleep(10)
    
    ### create dictionary of the data
    data_dict = dict(product=product,
                       rating=rating,
                       price=price)
    
    return data_dict

In [144]:
data = scrape_amazon_product_data(10)

In [145]:
pd.DataFrame(data)

,product,rating,price
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.2 out of 5 stars,"50,999"
1,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,2.4 out of 5 stars,"1,97,200"
2,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.2 out of 5 stars,"50,999"
3,HP Pavilion x360 Core i7 8th Gen 14-inch Touch...,3.8 out of 5 stars,"87,029"
4,"MSI Gaming GL65 Leopard , Intel 9th Gen. i7-97...",4.2 out of 5 stars,None
5,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,3.5 out of 5 stars,"74,490"
6,Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...,3.3 out of 5 stars,"1,10,000"
7,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,4.0 out of 5 stars,"75,493"
8,ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...,4.3 out of 5 stars,"95,290"
9,(Renewed) Dell Latitude E6420 14 Inch Laptop (...,1.0 out of 5 stars,None